*.o
*.pyc
*.po
.make.state
pics
objs

/packages
/proto
/usr/src/cmd/ai-webserver/AI.db
/usr/src/cmd/ai-webserver/delete-manifest
/usr/src/cmd/ai-webserver/webserver
/usr/src/cmd/auto-install/ai_get_manifest
/usr/src/cmd/auto-install/ai_sd
/usr/src/cmd/auto-install/auto-install
/usr/src/cmd/auto-install/i386
/usr/src/cmd/auto-install/sparc
/usr/src/cmd/distro_const/distro_const
/usr/src/cmd/gui-install/src/gui-install
/usr/src/cmd/install-tools/ManifestRead
/usr/src/cmd/install-tools/ManifestServ
/usr/src/cmd/installadm/check-server-setup
/usr/src/cmd/installadm/i386
/usr/src/cmd/installadm/sparc
/usr/src/cmd/installadm/installadm
/usr/src/cmd/installadm/installadm-common
/usr/src/cmd/installadm/list
/usr/src/cmd/installadm/setup-dhcp
/usr/src/cmd/installadm/setup-image
/usr/src/cmd/installadm/setup-service
/usr/src/cmd/installadm/setup-sparc
/usr/src/cmd/installadm/setup-tftp-links
/usr/src/cmd/slim-install/finish/install-finishc
/usr/src/cmd/slim-install/listcd/listcd
/usr/src/cmd/slim-install/listusb/listusb
/usr/src/cmd/slim-install/user/jack/.os-icons-installed
/usr/src/cmd/text-install/osol_install/text_install/text-install
/usr/src/cmd/text-install/svc/text-mode-menu
/usr/src/lib/liberrsvc_pymod/liberrsvc_wrap.c
/usr/src/lib/liberrsvc_pymod/liberrsvc.py
/usr/src/lib/libict/ict_test
/usr/src/lib/libtd/tdmgtst
/usr/src/lib/libtd/tdmgtst_static
/usr/src/lib/libtd/test_td
/usr/src/lib/libtd/test_td_static
/usr/src/lib/libti/test_ti
/usr/src/lib/libti/test_ti_static
/usr/src/pkg/packages.*
/usr/src/tools/mkmsgs/adm_mkmsgs
/usr/src/tools/xgetsh/xgetsh
