[Desktop Entry]
Encoding=UTF-8
Name=Getting Started With Oracle Solaris
Name[de]=Erste Schritte mit Oracle Solaris
Name[es]=Guía de inicio de Oracle Solaris
Name[fr]=Démarrage d'Oracle Solaris
Name[he]=מתחילים עם Oracle Solaris
Name[it]=Guida Introduttiva Oracle Solaris
Name[ja]=Oracle Solaris 入門
Name[ko]=Oracle Solaris 시작
Name[pt_BR]=Introdução ao Oracle Solaris
Name[ru]=Начало работы в ОС Oracle Solaris
Name[sk]=Začíname so systémom Oracle Solaris
Name[sv]=Komma igång med Oracle Solaris
Name[zh_CN]=Oracle Solaris 入门
Name[zh_HK]=Oracle Solaris 使用入門
Name[zh_TW]=Oracle Solaris 使用入門
Type=Application
Terminal=false
Exec=/usr/bin/firefox file:///usr/share/doc/getting-started/html/index.html
StartupNotify=true
Icon=/usr/share/icons/nimbus/48x48/apps/firefox-icon.png
GenericName=Getting Started With Oracle Solaris
GenericName[de]=Erste Schritte mit Oracle Solaris
GenericName[es]=Guía de inicio de Oracle Solaris
GenericName[fr]=Démarrage d'Oracle Solaris
GenericName[he]=מתחילים עם Oracle Solaris
GenericName[it]=Guida Introduttiva Oracle Solaris
GenericName[ja]=Oracle Solaris 入門
GenericName[ko]=Oracle Solaris 시작
GenericName[pt_BR]=Introdução ao Oracle Solaris
GenericName[ru]=Начало работы в ОС Oracle Solaris
GenericName[sk]=Začíname so systémom Oracle Solaris
GenericName[sv]=Komma igång med Oracle Solaris
GenericName[zh_CN]=Oracle Solaris 入门
GenericName[zh_HK]=Oracle Solaris 使用入門
GenericName[zh_TW]=Oracle Solaris 使用入門
Comment=
Categories=Applications;System
