[Desktop Entry]
Encoding=UTF-8
Name=Getting Started With OpenSolaris
Name[de]=Erste Schritte mit OpenSolaris
Name[es]=Guía de inicio de OpenSolaris
Name[fr]=Démarrage d'OpenSolaris
Name[it]=Guida Introduttiva OpenSolaris
Name[ja]=OpenSolaris 入門
Name[ko]=OpenSolaris 시작
Name[pt_BR]=Introdução ao OpenSolaris
Name[ru]=Начало работы в ОС OpenSolaris
Name[sv]=Komma igång med OpenSolaris
Name[zh_CN]=OpenSolaris 入门
Name[zh_HK]=OpenSolaris 使用入門
Name[zh_TW]=OpenSolaris 使用入門
Type=Application
Terminal=false
Exec=/usr/bin/firefox file:///usr/share/doc/getting-started/html/index.html
Icon=/usr/share/icons/nimbus/48x48/apps/firefox-icon.png
GenericName=Getting Started With OpenSolaris
GenericName[de]=Erste Schritte mit OpenSolaris
GenericName[es]=Guía de inicio de OpenSolaris
GenericName[fr]=Démarrage d'OpenSolaris
GenericName[it]=Guida Introduttiva OpenSolaris
GenericName[ja]=OpenSolaris 入門
GenericName[ko]=OpenSolaris 시작
GenericName[pt_BR]=Introdução ao OpenSolaris
GenericName[ru]=Начало работы в ОС OpenSolaris
GenericName[sv]=Komma igång med OpenSolaris
GenericName[zh_CN]=OpenSolaris 入门
GenericName[zh_HK]=OpenSolaris 使用入門
GenericName[zh_TW]=OpenSolaris 使用入門
Comment=
Categories=Applications;System
