[Desktop Entry]
Encoding=UTF-8
Name=Getting Started With OpenSolaris 2008.05
Name[de]=Erste Schritte mit OpenSolaris 2008.05
Name[es]=Guía de inicio de OpenSolaris 2008.05
Name[fr]=Démarrage d'OpenSolaris 2008.05
Name[it]=Guida Introduttiva OpenSolaris 2008.05
Name[ja]=OpenSolaris 2008.05 入門
Name[ko]=OpenSolaris 2008.05 시작
Name[pt_BR]=Introdução ao OpenSolaris 2008.05
Name[ru]=Начало работы в ОС OpenSolaris 2008.05
Name[sv]=Komma igång med OpenSolaris 2008.05
Name[zh_CN]=OpenSolaris 2008.05 入门
Name[zh_HK]=OpenSolaris 2008.05 使用入門
Name[zh_TW]=OpenSolaris 2008.05 使用入門
Type=Application
Terminal=false
Exec=/usr/bin/firefox file:///usr/share/doc/getting-started/html/index.html
Icon=/usr/share/icons/nimbus/48x48/apps/firefox-icon.png
GenericName=Getting Started With OpenSolaris 2008.05
GenericName[de]=Erste Schritte mit OpenSolaris 2008.05
GenericName[es]=Guía de inicio de OpenSolaris 2008.05
GenericName[fr]=Démarrage d'OpenSolaris 2008.05
GenericName[it]=Guida Introduttiva OpenSolaris 2008.05
GenericName[ja]=OpenSolaris 2008.05 入門
GenericName[ko]=OpenSolaris 2008.05 시작
GenericName[pt_BR]=Introdução ao OpenSolaris 2008.05
GenericName[ru]=Начало работы в ОС OpenSolaris 2008.05
GenericName[sv]=Komma igång med OpenSolaris 2008.05
GenericName[zh_CN]=OpenSolaris 2008.05 入门
GenericName[zh_HK]=OpenSolaris 2008.05 使用入門
GenericName[zh_TW]=OpenSolaris 2008.05 使用入門
Comment=
Categories=Applications;System
