[Desktop Entry]
Encoding=UTF-8
Name=Install Oracle Solaris
Name[de]=Installieren von Oracle Solaris
Name[es]=Instalar Oracle Solaris
Name[fr]=Installer Oracle Solaris
Name[it]=Installa Oracle Solaris
Name[he]=התקן את Oracle Solaris
Name[ja]=Oracle Solaris をインストールする
Name[ko]=Oracle Solaris 설치
Name[pt_BR]=Instalar Oracle Solaris
Name[ru]=Установить Oracle Solaris
Name[sk]=Inštalovať Oracle Solaris
Name[sv]=Installera Oracle Solaris
Name[zh_CN]=安装 Oracle Solaris
Name[zh_HK]=安裝 Oracle Solaris
Name[zh_TW]=安裝 Oracle Solaris
Type=Application
Terminal=false
Exec=/usr/bin/pfexec /usr/bin/gui-install
StartupNotify=true
Icon=system-software-install
GenericName=Install Oracle Solaris to disk
GenericName[de]=Installieren von Oracle Solaris auf Datenträger
GenericName[es]=Instalar Oracle Solaris en disco
GenericName[fr]=Installer Oracle Solaris sur le disque
GenericName[he]=התקן את Oracle Solaris לדיסק
GenericName[it]=Installa Oracle Solaris sul disco
GenericName[ja]=Oracle Solaris をディスクにインストールする
GenericName[ko]=Oracle Solaris를 디스크에 설치
GenericName[pt_BR]=Instalar Oracle Solaris no disco
GenericName[ru]=Установить Oracle Solaris на диск
GenericName[sk]=Inštalovať Oracle Solaris na disk
GenericName[sv]=Installera Oracle Solaris på disk
GenericName[zh_CN]=将 Oracle Solaris 安装到磁盘
GenericName[zh_HK]=將 Oracle Solaris 安裝至磁碟
GenericName[zh_TW]=將 Oracle Solaris 安裝至磁碟
Comment=
Categories=Applications;System
