[Desktop Entry]
Encoding=UTF-8
Name=Install OpenSolaris
Type=Application
Terminal=false
Exec=/usr/bin/pfexec /usr/bin/gui-install
Icon=/jack/install-icon.png
GenericName=Install OpenSolaris to disk
Comment=
Categories=Applications;System

