<?xml version="1.0"?>
<!DOCTYPE service_bundle SYSTEM "/usr/share/lib/xml/dtd/service_bundle.dtd.1">
<!--
 CDDL HEADER START

 The contents of this file are subject to the terms of the
 Common Development and Distribution License (the "License").
 You may not use this file except in compliance with the License.

 You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
 or http://www.opensolaris.org/os/licensing.
 See the License for the specific language governing permissions
 and limitations under the License.

 When distributing Covered Code, include this CDDL HEADER in each
 file and include the License file at usr/src/OPENSOLARIS.LICENSE.
 If applicable, add the following below this CDDL HEADER, with the
 fields enclosed by brackets "[]" replaced with your own identifying
 information: Portions Copyright [yyyy] [name of copyright owner]

 CDDL HEADER END

 Copyright (c) 2009, 2010, Oracle and/or its affiliates. All rights reserved.

 NOTE:  This service manifest is not editable; its contents will
 be overwritten by package or patch operations, including
 operating system upgrade.  Make customizations in a different
 file.

-->

<service_bundle type='manifest' name='SUNWinstalladm-tools:server'>

<service
	name='system/install/server'
	type='service'
	version='1'>

	<single_instance />

	<dependency
		name='dns-multicast'
		type='service'
		grouping='optional_all'
		restart_on='restart'>
		<service_fmri value='svc:/network/dns/multicast:default' />
	</dependency>

	<dependency
		name='udp6'
		type='service'
		grouping='optional_all'
		restart_on='none'>
		<service_fmri value='svc:/network/tftp/udp6:default' />
	</dependency>

	<dependency
		name='dhcp-server'
		type='service'
		grouping='optional_all'
		restart_on='none'>
		<service_fmri value='svc:/network/dhcp-server:default' />
	</dependency>

	<instance name="default" enabled="false">

		<exec_method
			type='method'
			name='start'
			exec='/lib/svc/method/svc-install-server start'
			timeout_seconds='0' />

		<exec_method
			type='method'
			name='stop'
			exec='/lib/svc/method/svc-install-server stop'
			timeout_seconds='0' />

		<exec_method
			type='method'
			name='refresh'
			exec=":kill -HUP"
			timeout_seconds="10" />

		<property_group
			name="all_services"
			type="application">

			<propval
				name="exclude_networks"
				type="boolean"
				value="false"/>

			<propval
				name="networks"
				type="net_address_v4"
				value="0.0.0.0/0"/>
		</property_group>

	</instance>

	<stability value='Unstable' />
	<template>

        <common_name>
                <loctext xml:lang='C'>Installadm Utility
                </loctext>
        </common_name>
        <documentation>
                <manpage title='installadm' section='1M' />
        </documentation>

	<pg_pattern
		name="all_services"
		type="application"
		required="true">

		<description>
			<loctext xml:lang='C'>
				Properties affecting all AI services
			</loctext>
		</description>

		<prop_pattern
			name="networks"
			type="net_address_v4"
			required="true">

			<description>
				<loctext xml:lang='C'>
					Networks to allow or disallow as per
					the all_services/exclude_networks
					property
				</loctext>
			</description>
		</prop_pattern>

		<prop_pattern
			name="exclude_networks"
			type="boolean"
			required="true">

			<description>
				<loctext xml:lang='C'>
					Property to exclude (true) or include
					(false) only those networks specified
					in the all_services/networks property
				</loctext>
			</description>
		</prop_pattern>
	</pg_pattern>

        </template>
</service>

</service_bundle>
